{% extends "./base.html" %}
{% load static %}

{% block title %}Resume of {{ identity.name }}{% endblock title %}

{% block meta %}
  {{ block.super }}
  <meta name="author" content="{{ identity.name }}">
  <meta name="description" content="{{ about.text }}">
{% endblock meta %}

{% block body %}
  {% if show_edit_button %}
    <body class="center" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% else %}
    <body class="center">
  {% endif %}
<header>
  <h1 class="heading-with-checkbox">
    {% if is_editable %}
      {% if not show_edit_button %}
        <input
          type="checkbox"
          class="large-checkbox"
          onclick="window.location.href='{{ edit_url }}'"
        >
      {% else %}
        <input
          type="checkbox"
          checked
          class="large-checkbox"
          onclick="window.location.href='{{ show_url }}'"
        >
      {% endif %}
    {% endif %}
    Cover Letter
  </h1>
</header>
<main>
  <p>
    <a href="{% url "django_resume:cv" slug=resume.slug %}">Link to CV!</a>
  </p>
  {% include theme.templates.main %}
  {% include cover.templates.main %}
</main>
<footer class="no-print">
  <p>This is a footer!</p>
</footer>
{% if show_edit_button %}
  <script src="{% static "django_resume/js/edit.js" %}"></script>
{% endif %}
{% endblock body %}