<section class="stack">
  <h2>{{ timeline.title }}</h2>
  <div class="stack-large">
    {% for entry in timeline.ordered_entries %}
      <div class="stack-small">
        <div class="cluster timeline-header-cluster">
          <div class="timeline-header-title">
            {% if entry.company_url %}
              <h3><a class="underlined" href="{{ entry.company_url }}">{{ entry.company_name }}</a></h3>
            {% else %}
              <h3>{{ entry.company_name }}</h3>
            {% endif %}
            {% if entry.badges %}
              <ul class="cluster cluster-list job-badges-list">
                {% for badge in entry.badges %}
                  <li>{{ badge }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          <ul class="cluster cluster-list year-span">
            <li>{{ entry.start }}</li>
            <li>-</li>
            <li>{{ entry.end }}</li>
          </ul>
        </div>
        <div class="sub-line">{{ entry.role }}</div>
        <p>{{ entry.description|safe }}</p>
      </div>
    {% endfor %}
  </div>
</section>
